<h1>Recuperar contraseña</h1>

<form id="recuperarForm">
    <label for="token">Token</label> <input type="token" name="token" id="token">
    <label for="password">New Password</label> <input type="password" name="password" id="password">
    <button type="submit">Reestablecer</button>
</form>

<script src="/js/recuperar.js"></script>