<h1>Bienvenido {{user.name}}!</h1>
<p>{{user.email}}</p>
<p>{{user.age}}</p>
<p>Tu rol es: {{user.rol}} </p>
<a href="/api/sessions/logout"><button>Salir</button></a>

<script src="/js/user.js"></script>